# Dolby Vision Display Management Configuration File
# Path : /vendor/persist/display/
# Date : 10/27/2023
# Brand Model Number: OnePlus waffle PJD110

[Global]
ReferenceDarkPicModeIndex = 0
IDK_Version = SW_4.5
DMSwVersion = 4.0

Tmax = 1600
Tmin = 0.0001
TPrimaries = 0.68 0.3200 0.2650 0.69 0.15 0.06 0.3127 0.3290 #P3 D65
TEOTF = POWER
Tgamma = 2.32
DSaturation = 0.20

Ambient = 0
TSurroundReflection = 0.5
TScreenReflection = 0.0005
ALDelayMilliSec = 50
ALResponseFall = 0.004
ALResponseRise = 0.02
ALOperationalRate = 50
TFrontLux = 1000
TFrontLuxScale = 1

[PictureMode = 0]
PictureModeName = Dolby Vision Bright
DBrightness = 0.3

[PictureMode = 1]
PictureModeName = Dolby Vision Vivid
DBrightness = 0.3

[PictureMode = 2]
PictureModeName = Dolby Vision Dark
SupportsDM3 = 1
Ambient = 0
