#ifdef OPLUS_FEATURE_WIFI_LOG
#fangbinghua@CONNECTIVITY.WIFI.HARDWARE.LOG,2023/06/07, add for wifi driver/fw log
on post-fs
   mkdir /mnt/vendor/persist/wlan 0777 system system
#endif /* OPLUS_FEATURE_WIFI_LOG */

#ifdef OPLUS_FEATURE_WIFI_BDF
#WuGuotian@CONNECTIVITY.WIFI.HARDWARE.BDF.1065227 , 2021/05/26, Add for : Wifi one-point cal
on boot
    mkdir /mnt/vendor/persist/copy 0770 system system
    mkdir /mnt/vendor/persist/copy/qca6490 0770 system system
    #add for sm8550
    mkdir /mnt/vendor/persist/copy/kiwi 0770 system system
    #add for helium platform bdf
    chown system system  /mnt/vendor/persist/copy/bdwlan.bin
    chown system system  /mnt/vendor/persist/copy/bdwlanu.bin
    chown system system  /mnt/vendor/persist/copy/qca6490/bdwlang.elf
    chown system system  /mnt/vendor/persist/copy/qca6490/bdwlan.elf
    #add for sm8550
    chown system system  /mnt/vendor/persist/copy/kiwi/bdwlang.elf
    chown system system  /mnt/vendor/persist/copy/kiwi/bdwlan.elf
    #Add for qca platform bdf
    chown system system  /mnt/vendor/persist/copy/bdwlan.elf
#endif /* OPLUS_FEATURE_WIFI_BDF */

#ifdef OPLUS_FEATURE_WIFI_BDF
#WuGuotian@CONNECTIVITY.WIFI.HARDWARE.BDF.1065227, 2021/05/26, add for start init.oplus.wifi.sh
service wifiserver /odm/bin/init.oplus.wifi.sh
    class core
    user root
    oneshot
#endif /* OPLUS_FEATURE_WIFI_BDF */

#ifdef OPLUS_FEATURE_DUMP_NETCFG
#SuPei@CONNECTIVITY.WIFI.NETWORK.100259, 2020/09/20, add for dumping qcom netcfg
on property:persist.sys.assert.panic=true
    stop oplus_dump_netcfg

on property:persist.sys.assert.panic=false
    start oplus_dump_netcfg

service oplus_dump_netcfg /system_ext/bin/oplus_dump_netcfg
    class main
    user shell
    group system net_raw net_admin readproc input inet
    capabilities NET_ADMIN NET_RAW
    oneshot
#endif  /* OPLUS_FEATURE_DUMP_NETCFG */

#ifdef OPLUS_FEATURE_WIFI_FTM
#Tao.Hui@CONNECTIVITY.WIFI.BASIC.HARDWARE.1065227, 2020/08/31
#Add for : Wifi BDF version
service WifibdfVersion /odm/bin/vendor.autochmod.sh "WifibdfVersion"
    class late_start
    user root
    group root
    oneshot
#endif /* OPLUS_FEATURE_WIFI_FTM */

#ifdef OPLUS_FEATURE_WIFI_SAR
#Lei.Zhang@CONNECTIVITY.WIFI.HARDWARE.SAR.1785313, 2021/06/07
#Modify for Android S compatible
service wifisar /odm/bin/wifisar
    class main
    user root
    group root
    disabled
    oneshot
# Any property change trigger wifisar setting
on property:sys.oplus.wlan.sar_idx=*
    start wifisar
#endif /* OPLUS_FEATURE_WIFI_SAR */

#ifdef OPLUS_FEATURE_WIFI_DIAG
#LiFenfen@CONNECTIVITY.WIFI.HARDWARE.WIFIDIAG.1730689, 2021/06/23
#Add for receive command from the PC tools
service wifitestdiag /odm/bin/wifi_diag
    class late_start
    user root
    group root system vendor_qti_diag
    disabled
    oneshot

on property:sys.usb.config=diag,adb && property:sys.usb.configfs=1
    start wifitestdiag
#endif /* OPLUS_FEATURE_WIFI_DIAG */

on property:sys.boot_completed=1
    setprop persist.vendor.oplus.first.boot "no"

# ifdef OPLUS_FEATURE_WIFI_INI_ROMUPDATE
# YangJiang@CONNECTIVITY.WIFI.NETWORK.2132185, 2021/09/13
# To rename ini_temp.txt into WCNSS_qcom_cfg.ini
on property:sys.oplus.wifi.iniromupdate=*
    copy /mnt/vendor/persist/ini_temp.txt /mnt/vendor/persist/wlan/WCNSS_qcom_cfg.ini
    chmod 0666 /mnt/vendor/persist/wlan/WCNSS_qcom_cfg.ini
# endif /* OPLUS_FEATURE_WIFI_INI_ROMUPDATE */

# ifdef OPLUS_FEATURE_WIFI_MINIDUMP
# Tao.Hui@CONNECTIVITY.WIFI.HARDWARE.DUMP,20230830 add for wcn2.0 add ftrace for wifi
# for wlan agingtest ftrace--->KBA-230613194033
on property:persist.sys.wlan.aging.status=true
    write /dev/kmsg "Ftrace Debug:init.oplus.bsp_debug.rc"
    # timer
    chmod 0755 /sys/kernel/tracing
    write /sys/kernel/tracing/tracing_on  0
    write /sys/kernel/tracing/events/enable 0
    write /sys/kernel/tracing/buffer_size_kb 64000
    write /sys/kernel/tracing/set_event ""
    write /sys/kernel/tracing/trace ""
# timer
    write /sys/kernel/tracing/events/timer/timer_expire_entry/enable 1
    write /sys/kernel/tracing/events/timer/timer_expire_exit/enable 1
    write /sys/kernel/tracing/events/timer/hrtimer_cancel/enable 1
    write /sys/kernel/tracing/events/timer/hrtimer_expire_entry/enable 1
    write /sys/kernel/tracing/events/timer/hrtimer_expire_exit/enable 1
    write /sys/kernel/tracing/events/timer/hrtimer_init/enable 1
    write /sys/kernel/tracing/events/timer/hrtimer_start/enable 1
    #enble FTRACE for softirq events
    write /sys/kernel/tracing/events/irq/enable 1
    write /sys/kernel/tracing/events/irq/softirq_entry/enable 1
    write /sys/kernel/tracing/events/irq/softirq_exit/enable 1
    write /sys/kernel/tracing/events/irq/softirq_raise/enable 1

    #enble FTRACE for Workqueue events
    write /sys/kernel/tracing/events/workqueue/enable 1
    write /sys/kernel/tracing/events/workqueue/workqueue_execute_start/enable 1
    # schedular
    write /sys/kernel/tracing/events/sched/sched_cpu_hotplug/enable 1
    write /sys/kernel/tracing/events/sched/sched_migrate_task/enable 1
    write /sys/kernel/tracing/events/sched/sched_pi_setprio/enable 1
    write /sys/kernel/tracing/events/sched/sched_switch/enable 1
    write /sys/kernel/tracing/events/sched/sched_wakeup/enable 1
    write /sys/kernel/tracing/events/sched/sched_wakeup_new/enable 1
    write /sys/kernel/tracing/events/sched/sched_stat_iowait/enable 1
    write /sys/kernel/tracing/events/sched_stat_blocked/enable 1
    # sound
    write /sys/kernel/tracing/events/asoc/snd_soc_reg_read/enable 1
    write /sys/kernel/tracing/events/asoc/snd_soc_reg_write/enable 1
    # mdp
    write /sys/kernel/tracing/events/mdss/mdp_video_underrun_done/enable 1
    # video
    write /sys/kernel/tracing/events/msm_vidc/enable 1
    # clock
    write /sys/kernel/tracing/events/power/clock_set_rate/enable 1
    write /sys/kernel/tracing/events/power/clock_enable/enable 1
    write /sys/kernel/tracing/events/power/clock_disable/enable 1
    write /sys/kernel/tracing/events/power/cpu_frequency/enable 1
    # regulator
    write /sys/kernel/tracing/events/regulator/enable 1
    # power
    write /sys/kernel/tracing/events/msm_low_power/enable 1
    # fastrpc
    write /sys/kernel/tracing/events/fastrpc/enable 1

    write /sys/kernel/tracing/tracing_on 1

    #subsystem SSR config(open wlan esoc SSR)
    #write /sys/bus/msm_subsys/devices/subsys9/restart_level "related"

# ifdef OPLUS_FEATURE_WIFI_STABILITY
# Tao.Hui@CONNECTIVITY.WIFI.HARDWARE.DUMP,7652635 add for ipc log debug pcie issue

on property:ro.oplus.image.my_engineering.type=aging
    start execute_ipcb_trace

on property:persist.sys.wlan.aging.status=true
    start execute_ipcb_trace

service execute_ipcb_trace /odm/bin/vendor.autochmod.sh ipcb_trace
    class late_start
    user root
    group root shell
    disabled
    oneshot

# endif /* OPLUS_FEATURE_WIFI_STABILITY */

#for agingtest dcc debug
on property:persist.sys.wlan.aging.status=true
    start bsp_debug

service bsp_debug /vendor/bin/sh /odm/bin/init.oplus.bsp_debug.sh
    class core
    user shell
    group root system log
    disabled
    oneshot
# endif /* OPLUS_FEATURE_WIFI_MINIDUMP */