#Configuration info
[Project Info]
    Project      = 22825

[OemCamSupportType]
    EnableOfflineFeatureList   = 0x8001; 0x8009; 0x8010; 0x8011; 0x8019; 0x8030; 0x80AC; 0x80B2;
    IsTurboRawFeatureTypeList  = 48; 49; 50; 51; 65; 66;
    IsPslBracketModeList       = 28; 29; 7;

[OemCamSettings]
    addRDIBufferCnt     = 2;
    resetDNGBlackLevel  = FALSE;
    supportSnapshotUsePartial    = TRUE;
    isNeedVignetteSkipFrame = TRUE;
    VignetteSkipFrameNum = 5;
    maxZoomStableFrameCount = 3

[OemSupportedCustomInfoSizes5]
    # Operation_mode should use lowercase letters
    # [mode]_[id]_[fmt]_[usg],[w]X[h],[mode]_[id]_[fmt]_[usg]_[ratio],[w]X[h]: [mode],[id]_[fmt]_[usg],[w]X[h]
    ImageSizes[0]  = 8001,-1_32_3_0,4608X3456,-1_32_3_1,4608X3456,-1_32_3_2,4608X3456,-1_32_3_3,4608X3456,-1_32_3_4,4608X3456,-1_32_3_5,4608X3456:
    ImageSizes[1]  = 8019,-1_32_3_0,4608X3456,-1_32_3_1,4608X3456,-1_32_3_2,4608X3456,-1_32_3_3,4608X3456,-1_32_3_4,4608X3456,-1_32_3_5,4608X3456:
    ImageSizes[2]  = 8010,4_35_3,4096X3072,4_32_3,4096X3072X4608X3456,4_37_3,4096X3072X4608X3456,2_35_3,1728X1296,2_32_3,1728X1296,2_37_3,1728X1296:
    ImageSizes[3]  = 8030,2_35_3,4096X3072,2_32_3,4096X3072,2_37_3,4096X3072,3_35_3,1600X1200,3_32_3,1600X1200,3_37_3,1600X1200:
    ImageSizes[4]  = 8011,2_35_3,4096X3072,2_32_3,4096X3072,2_37_3,4096X3072,3_35_3,2880X2160,3_32_3,2880X2160,3_37_3,2880X2160

[OemSupportedCustomInfoSizes4]
    # Operation_mode should use lowercase letters
    # [mode]_[id]_[fmt]_[usg],[w]X[h],[mode]_[id]_[fmt]_[usg]_[ratio],[w]X[h]: [mode],[id]_[fmt]_[usg],[w]X[h]
    ImageSizes[0]  = 8009,-1_32_3_0,4608X3456,-1_32_3_1,4608X2600X4608X3456,-1_32_3_2,3456X3456X4608X3456,-1_32_3_5,4608X2096X4608X3456,-1_32_3_6,4608X3456:
    ImageSizes[1]  = 8009,-1_37_3_0,4608X3456,-1_37_3_1,4608X2600X4608X3456,-1_37_3_2,3456X3456X4608X3456,-1_37_3_5,4608X2096X4608X3456,-1_37_3_6,4608X3456:
    ImageSizes[2]  = 80AA,-1_32_3,4608X3456,-1_35_3,4608X3456:
    ImageSizes[3]  = 8001,-1_32_3,4608X3456:
    ImageSizes[4]  = 8001,-1_32_3_0,4608X3456,-1_32_3_1,4608X2600X4608X3456,-1_32_3_2,3456X3456X4608X3456,-1_32_3_5,4608X2096X4608X3456:
    ImageSizes[5]  = 8001,-1_37_3_0,4608X3456,-1_37_3_1,4608X2600X4608X3456,-1_37_3_2,3456X3456X4608X3456,-1_37_3_5,4608X2096X4608X3456:
    ImageSizes[6]  = 80ac,-1_35_3,7872X2912:

[OemSupportedCustomInfoSizes0]
    # Operation_mode should use lowercase letters
    # [mode]_[id]_[fmt]_[usg],[w]X[h],[mode]_[id]_[fmt]_[usg]_[ratio],[w]X[h]: [mode],[id]_[fmt]_[usg],[w]X[h]
    ImageSizes[0]  = 8001,-1_32_3_0,4096X3072,-1_32_3_1,4096X3072,-1_32_3_2,4096X3072,-1_32_3_3,4096X3072,-1_32_3_4,4096X3072,-1_32_3_5,4096X3072:
    ImageSizes[1]  = 8019,-1_32_3_0,4096X3072,-1_32_3_1,4096X3072,-1_32_3_2,4096X3072,-1_32_3_3,4096X3072,-1_32_3_4,4096X3072,-1_32_3_5,4096X3072:
    ImageSizes[2]  = 8011,2_35_3,4096X3072,2_32_3,4096X3072,2_37_3,4096X3072,3_35_3,2880X2160,3_32_3,2880X2160,3_37_3,2880X2160

[OemCamOfflineCapacity]
    AiCameraMode = 0x0

[OemSHDRTypeMatching]
   #SHDRMode        logicalCameraId captureMode  physicalCameraId_mask seamless_support
    Mode[0]     =          5;         0x8001;         0x0004;                1
    Mode[1]     =          5;         0x8019;         0x0004;                1

[OemEnableIZoomModeList]
    #               captureMode   sensor_mask
    Mode[0]     =      0x8001;       0x0020;
    Mode[1]     =      0x8009;       0x0014;
    Mode[2]     =      0x8030;       0x0020;
    Mode[3]     =      0x8019;       0x0020;

[OemSupportedCustomRAWFullSizes]
    #               sensor_mask      width			height
    Size[0]    =    0x0004;          8192;			6144   #lyt808 main
    Size[1]    =    0x0008;          8000;			6000   #imx581 wide
    Size[2]    =    0x0010;          9248;			6944   #ov64b40 tele

[OemCustomYUVSize]
    teleWidth  = 4608
    teleHeight = 3456

[OemCamSensorSettingMap]
# this is for config sensor setting mode of system camera PHOTO modes
# please follow below format to add customize parameters
    #operation mode  operation_mode        frameworkid_mask   feature_mask        index    #  feature mode   --  sensor    -- capability
    Mode[0]    =        0x8001;            0x0002;            0x0000;             1        #  front photo    --    f       -- binning
    Mode[1]    =        0x8009;            0x001C;            0x0000;             1        #  pro mode       --  w/uw/t    -- binning
    Mode[2]    =        0x8001;            0x001C;            0x0004;             1        #  rear sat photo --  w/uw/t    -- binning
    Mode[3]    =        0x8010;            0x0010;            0x0004;             7        #  rear bokeh 3x  --    t       -- binning
    Mode[4]    =        0x8010;            0x0004;            0x0004;             15       #  rear bokeh 3x  --    w       -- binning+crop
    Mode[5]    =        0x8011;            0x0004;            0x0004;             9        #  rear bokeh 1x  --    w       -- binning
    Mode[6]    =        0x8011;            0x0008;            0x0004;             19       #  rear bokeh 1x  --    uw      -- binning+crop
    Mode[7]    =        0x8030;            0x0004;            0x0200;             24       #  rear bokeh 2x  --    w       -- binning
    Mode[8]    =        0x8030;            0x0004;            0x0080;             8        #  rear bokeh 2x  --    w       -- izoom
    Mode[9]    =        0x8030;            0x0008;            0x0004;             21       #  rear bokeh 2x  --    uw      -- binning+crop
    Mode[10]   =        0x8001;            0x000C;            0x2000;             2        #  fast motion    --   w/uw     -- binning
    Mode[11]   =        0x80AC;            0x001C;            0x0000;             1        #  xpan mode      --  w/uw/t    -- binning
    Mode[12]   =        0x80AC;            0x001C;            0x0010;             0        #  xpan mode      --  w/uw/t    -- qcfa
    Mode[13]   =        0x8001;            0x0002;            0x0010;             0        #  front photo    --    f       -- qcfa
    Mode[14]   =        0x8001;            0x001C;            0x0010;             0        #  rear HiRes     --  w/uw/t    -- qcfa
    Mode[15]   =        0x8001;            0x0010;            0x0080;             20       #  rear sat izoom --    t       -- izoom
    Mode[16]   =        0x8019;            0x0010;            0x0004;             1        #  night mode     --    t       -- binning
    Mode[17]   =        0x8019;            0x0010;            0x0080;             20       #  night izoom    --    t       -- izoom
    Mode[18]   =        0x8001;            0x001C;            0x0000;             1        #  rear HiRes     --  w/uw/t    -- binning
    Mode[19]   =        0x8001;            0x0004;            0x0200;             14       #  rear sat photo --  w         -- 1dol shdr
    Mode[20]   =        0x8001;            0x0004;            0x0800;             13       #  rear sat photo --  w         -- 2dol shdr
    Mode[21]   =        0x8001;            0x0018;            0x0200;             1        #  rear sat photo --  uw/t      -- binning
    Mode[22]   =        0x8001;            0x0018;            0x0800;             1        #  rear sat photo --  uw/t      -- binning
    Mode[23]   =        0x8001;            0x0004;            0x0080;             27       #  rear sat izoom --  w         -- izoom
    Mode[24]   =        0x8009;            0x0004;            0x0020;             19       #  pro mode izoom --  w         -- izoom
    Mode[25]   =        0x8009;            0x0010;            0x0020;             20       #  pro mode izoom --  t         -- izoom
    Mode[26]   =        0x8001;            0x0010;            0x2000;             19       #  fast motion    --  t     -- binning
    Mode[27]   =        0x8001;            0x0004;            0x8000;             22       #  rear sat izoom --  w         -- izoom lbmf
    Mode[28]   =        0x80B2;            0xFFFF;            0x0000;             1        #  AI ID Photo    --  w/f       -- binning
    Mode[29]   =        0x8001;            0x0010;            0x0081;             11       #  rear sat izoom --  t         -- izoom sfe
    Mode[30]   =        0x8019;            0x0010;            0x0081;             11       #  night izoom    --   t       -- izoom sfe
    Mode[31]   =        0x8030;            0x0004;            0x0081;             25       #  rear bokeh 2x  --    w       -- qbc
    Mode[32]   =        0x8019;            0x0004;            0x0200;             14       #  rear sat night --  w         -- 1dol shdr
    Mode[33]   =        0x8019;            0x0004;            0x0800;             13       #  rear sat night --  w         -- 2dol shdr
    Mode[34]   =        0x8019;            0x0004;            0x0080;             22       #  rear night izoom --  w         -- izoom 1exp
    Mode[35]   =        0x8019;            0x0004;            0x8000;             22       #  rear night izoom --  w         -- izoom 2exp
    Mode[36]   =        0x8001;            0x0004;            0x0081;             27       #  rear sat izoom --    w      -- izoom sfe

[OemBindCore]
    isSupport = TRUE
    configBindCoreStart = 2
    configBindCoreEnd   = 7

[OemDoBoostPool]
    isEnable = TRUE

[PinFiles]
    so[0]=/vendor/lib64/hw/camera.qcom.so
    so[1]=/vendor/lib64/hw/com.qti.chi.override.so
    so[2]=/vendor/lib64/hw/android.hardware.graphics.mapper@4.0-impl-qti-display.so
    so[3]=/vendor/lib64/libthermalclient.so
    so[4]=/vendor/lib64/com.qti.feature2.gs.sm8650.so
    so[5]=/vendor/lib64/com.qti.feature2.anchorsync.so
    so[6]=/vendor/lib64/com.qti.feature2.demux.so
    so[7]=/vendor/lib64/com.qti.feature2.derivedoffline.so
    so[8]=/vendor/lib64/com.qti.feature2.fusion.so
    so[9]=/vendor/lib64/com.qti.feature2.generic.so
    so[10]=/vendor/lib64/com.qti.feature2.hdr.so
    so[11]=/vendor/lib64/com.qti.feature2.mcreprocrt.so
    so[12]=/vendor/lib64/com.qti.feature2.memcpy.so
    so[13]=/vendor/lib64/com.qti.feature2.mfsr.so
    so[14]=/vendor/lib64/com.qti.feature2.ml.so
    so[15]=/vendor/lib64/com.qti.feature2.mux.so
    so[16]=/vendor/lib64/com.qti.feature2.qcfa.so
    so[17]=/vendor/lib64/com.qti.feature2.rawhdr.so
    so[18]=/vendor/lib64/com.qti.feature2.realtimeserializer.so
    so[19]=/vendor/lib64/com.qti.feature2.rt.so
    so[20]=/vendor/lib64/com.qti.feature2.rtmcx.so
    so[21]=/vendor/lib64/com.qti.feature2.serializer.so
    so[22]=/vendor/lib64/com.qti.feature2.statsregeneration.so
    so[23]=/vendor/lib64/com.qti.feature2.stub.so
    so[24]=/vendor/lib64/com.qti.feature2.swmf.so
    so[25]=/vendor/lib64/egl/eglSubDriverAndroid.so
    so[26]=/odm/lib64/libextensionlayer.so
    so[27]=/odm/lib64/libCS.so
    so[28]=/vendor/lib64/libchifeature2.so
    so[29]=/odm/lib64/libmvgcommon.so
    so[30]=/vendor/lib64/libCB.so
    so[31]=/odm/lib64/camera/components/com.oplus.node.sstabphoto.so
    so[32]=/odm/lib64/hw/camera.oemlayer.so
    so[33]=/odm/lib64/camera/components/com.oplus.node.mvgsat.so
    so[34]=/vendor/lib64/vendor.oplus.hardware.camera.aon-service-impl.so
    so[35]=/vendor/lib64/camx.device-impl.so
    so[36]=/vendor/lib64/libqshcamera.so
    so[37]=/vendor/lib64/hw/camera.qcom.sm8650.so
    so[38]=/vendor/lib64/camera/components/com.qti.node.gpu.so
    so[39]=/vendor/lib64/libcom.qti.chinodeutils.so
    so[40]=/odm/lib64/camera/components/com.oplus.node.preview.so
    so[42]=/vendor/lib64/camera/components/com.qti.hwcfg.ipe.so
    so[43]=/odm/lib64/libfovctrl.so
    so[44]=/odm/lib64/lib2DSlender.so
    so[45]=/odm/lib64/libFaceBeautyJni.so

[Preloadso]
    so[0]=/vendor/lib64/libllvm-qcom.so
    so[1]=/odm/lib64/libvega_face.so
    so[2]=/vendor/lib64/com.qualcomm.mcx.policy.mfl.so
    so[3]= /vendor/lib64/com.qualcomm.mcx.nonlinearmapper.so
    so[4]= /vendor/lib64/com.qualcomm.mcx.linearmapper.so
    so[5]=/vendor/lib64/libiccprofile.so
    so[6]=/vendor/lib64/camera/components/com.qti.eisv3.so
    so[7]=/vendor/lib64/libOpenCL_adreno.so
    so[8]=/vendor/lib64/libOpenCL.so
    so[9]=/vendor/lib64/libsfeShiftExtrapolation.so
    so[10]=/odm/lib64/libaecCustomParamParser.so
    so[11]=/odm/lib64/libafCustomParamParser.so
    so[12]=/odm/lib64/libpdCustomParamParser.so
    so[13]=/odm/lib64/libocce3a.so
    so[14]=/vendor/lib64/libcamxtintlessalgo.so
    so[15]=/odm/lib64/libaisal.so
    so[16]=/odm/lib64/libarcsoft_videoautozoom.so
    so[17]=/odm/lib64/libssd_det.so

[CTPLevel]
                       #operation_mode     #width      #height       #level
    Mode[0]    =       0x8021;              0;           0;             0
    Mode[1]    =       0x8028;              0;           0;             0

[OemEnableTouchCapture]
                         #operation_mode      featuretype
    Mode[0]     =          0x8001;                48; 49; 50;

[ReportErrPreviewForSnapshot]
    PreviewRange = 0.6; 6.0

[SingleCameraZoomRemap]
    LogicalCameraId = 4;
    RemapFactor     = 1.03;

#[FPSController]
#                       #operation_mode     #CaptureWaitTime      #PiplineDelay       #TarGetFPS
#    Mode[0]    =       0x8001;              800;                  200;                  15
#    Mode[1]    =       0x8011;              800;                  300;                  15
#    Mode[2]    =       0x8030;              800;                  300;                  15
#    Mode[3]    =       0x8010;              800;                  300;                  15

[PreOpenCamera]
    isSupportPreOpenCamera = TRUE
    IsEnableConfigorms = TRUE
    IsEnablePreloadRes = TRUE

[PreConfig]
    MaxStreamNum = 12
    MaxStreamBufferNum = 12
    MetaSize = 3696
    SystemCamera    = com.oplus.camera

[PreConfigSupportMode]
    #Mode        captureMode  cameraId
    #Mode[0] =    0x8001;        5;

[OemIzoomPolicy]
    iZoomRange = 2.0;2.9

#frameworkId order as {uw,wide,tele}
[CamIndexToFrameworkIdMap]
    frameworkIds = 3;2;4

[3rdDisableSignalStreamFlushLists]
    packagename[0] = com.baidu.searchbox