service vendor.oplusSensor-aidl-1 /odm/bin/hw/vendor-oplus-hardware-oplusSensor-V1-service
    class hal
    user system
    group system
    interface aidl vendor.oplus.hardware.oplusSensor.ISensorFeature/default
