service vendor.pixelworks.hardware.feature /odm/bin/hw/vendor.pixelworks.hardware.feature-service
    interface aidl vendor.pixelworks.hardware.feature.IIrisFeature/default
    class hal
    user system
    group graphics drmrpc
    oneshot
    disabled
